<header class="header">
    <div class="container">
        <div class="header__logo">
            <img src="img/logo.png" alt="logo" class="header__logo-img">
        </div>
        <div class="header__href">
            <a href="#" class="href__item">Company</a>
            <a href="#" class="href__item">Services</a>
            <a href="#" class="href__item">Expertise</a>
            <a href="#" class="href__item">Industries</a>
            <a href="#" class="href__item">Products</a>
            <a href="#" class="href__item">Clients Success</a>
            <a href="#" class="href__item">Blog</a>
            <a href="#" class="href__item">Contact us</a>
        </div>
    </div>
</header>